
/* full site style */

@media (min-width: 450px) {
  .nav .desktop{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  .nav .mobile{
    display: none;
  }
}
@media (max-width: 449px) {
  .nav .desktop{
    display: none;
  }
  .nav .mobile{
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
  }
  .column, .columns {
      margin-left: 1.55%;
      margin-right: 1.01%;
   }
}
/* this is to even out the slider and picture section */
@media (min-width: 550px){
.column {
    margin-left: 1.55%;
    margin-right: 1.01%;
 }
}

body{
  font-family: 'Cinzel'
}

p {
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover{
  color: gray;
  text-decoration: none;
}

.icons{
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.icons li{
  max-width: 40px;
  max-height: 40px;
}

li img{
  position: relative;
  max-width: 80%;
  margin: 3rem auto 12rem;
}

footer {
  text-align: center;
}

/*index.html page style */

.hello{
  text-align: center;
}

.carousel {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 50px;
}


img{
  max-width:100%;
  max-height: 100%;
}

/* about.html style */
.aboutme img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.text span{
  font-style: italic;
  font-size: 2rem;
}

/* pricing.html style */
h4{
  text-align: center;
}

/* contact.html style */
.form .columns{
  margin-left: 0px;
}
